@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';
@import '../../../style/_mixins.scss';

#introduction-block {
  position: relative;
  display: grid;
  grid-template: 100% / 100%;
  margin-top: $header-height;
  .image-slogan-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    h1, h3 {
      color: whitesmoke;
      z-index: 105;
      display: flex;
      text-align: center;
    }
    h1 {
      font-family: Tomorrow, sans-serif;
      font-weight: 600;
      font-size: clamp(1.5rem, 9.5vw, 4rem);
    }
    h3 {
      font-weight: 500;
      font-size: clamp(1rem, 5vw, 2rem);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include full__darkening;
  }
}