@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';
@import '../../../style/_mixins.scss';

#members-block {
  position: relative;
  min-height: 0;
  height: auto;
  padding: 6rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  @media screen and (width <= 960px) {
    padding: 4rem 0;
  }
  #members-block-bg-image {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .members-block-bg-image__shadow-box {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
  }
  .members-swiper-bullets-box {
    z-index: 5;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    .swiper-bullet {
      width: 0.7rem;
      height: 0.75rem;
      border-radius: 100%;
      background: rgba(107, 114, 128, 0.65);
      cursor: pointer;
      transition: 0.5s ease background;
      &[data-is-active="true"] {
        background: $bg-blue-400;
      }
    }
  }
}


.members-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $bg-gray-200;
  .members-swiper-bar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 100% / repeat(5, 100%);
    transition: 1s ease transform;
    transform: translate(-200%);
    .member-swiper-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 4rem;
      @media screen and (width <= 960px) {
        padding: 0;
      }
      .member-data-info__photo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        .member-data-info__photo-box__photo {
          border-radius: 8rem;
          object-position: 50% 20%;
          object-fit: cover;
          border: 8px solid rgb(75, 85, 99, 0.375);
        }
      }
      .member-data-info__name {
        font-size: 1.35rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
      }
      .member-data-info__occupation {
        font-size: 0.9rem;
      }
      .member-data-info__quote-box {
        padding: 0 4rem;
        text-align: center;
        //display: flex;
        //justify-content: center;
        //align-items: start;
        //gap: 0.5rem;
        margin-top: 1rem;
        @media screen and (width <= 960px) {
          padding: 0 1rem;
        }
        .member-data-info__quote__quote-icon {
          color: $bg-gray-500;
          font-size: 1.5rem;
          margin: 0 0.25rem;
        }
        .member-data-info__quote {
          text-align: center;
          font-style: italic;
          @media screen and (width <= 960px) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}