@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

@mixin shadow-text-block($main-color) {
  .text-blocks-wrapper__text-block__subtitle-box {
    color: $main-color;
  }
  border: $main-color 2px solid;
  box-shadow: 0 0 15px 2px $main-color;
}

.sanctions-block {
  display: flex;
  justify-content: center;
  align-items: center;
  .sanctions-block__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    width: 65%;
    .sanctions-block__content-wrapper__title-box {
      padding: 1rem 0.5rem;
      font-weight: 400;
      font-size: 2.225rem;
    }
    .sanctions-block__content-wrapper__text-blocks-wrapper {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
      gap: 2rem;
      @media screen and (max-width: 768px) {
        grid-template: repeat(4, 1fr) / 100%;
      }
      .text-blocks-wrapper__text-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.325rem;
        border-radius: 0.75rem;
        padding: 1.5rem 1rem;
        .text-blocks-wrapper__text-block__subtitle-box {
          font-size: 1.5rem;
        }
        span {

        }
      }
      .text-block-i-1 {
        @include shadow-text-block(#F2B42D)
      }
      .text-block-i-2 {
        @include shadow-text-block(#D7455E)
      }
      .text-block-i-3 {
        @include shadow-text-block(#DD785E)
      }
      .text-block-i-4 {
        @include shadow-text-block(#48A8E2)
      }
    }
  }
}