@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

.drop-down-list-element {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid white;
  transition: height 1s ease;
  .drop-down-list-element__title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    //border-radius: 0.5rem 0 0 0.5rem;
    cursor: pointer;
    gap: 7rem;
    .menu-title-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .title-container__icon {
        font-size: 1.25rem;
      }
    }
    &:hover {
      background: $bg-gray-800;
    }
    .drop-down-element__arrow {
      font-size: 1.25rem;
      transition: 0.5s ease transform;
      &[data-active-arrow="true"] {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    font-size: 1.25rem;
    transition: 1s ease transform;
    &[data-active-arrow="true"] {
      transform: rotate(180deg);
    }
  }

  .drop-down-element__content-box {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    &[data-active-list="true"] {
      display: flex;
    }
    .drop-down-element__content-box__option-item {
      a, div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
        padding: 0.5rem 1.25rem;
        cursor: pointer;
        color: $right-menu-color;
        &:hover {
          background: $bg-gray-800;
        }
      }

    }
  }
}