@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';
@import '../../../style/_mixins.scss';

.sumo-stages-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: var(--sumo-stages-block-simple-text-color);
  padding: 2rem 0 8rem 0;
  background: var(--sumo-stages-block-bg-color);
  transition: 1s ease background;
  .sumo-stages-block__title-box {
    position: relative;
    width: 70%;
    padding: 3rem 0;
    letter-spacing: 2px;
    font-size: 2.75rem;
    #stages-title {
      position: relative;
      color: var(--sumo-stages-block-title-accent-color);
    }
    #stages-title::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background: var(--sumo-stages-block-title-accent-color);
    }
  }

  .sumo-stages-block__text-container {
    container-type: inline-size;
    width: 70%;
    position: relative;
    display: grid;
    grid-template:  100% / repeat(3, 1fr);
    @media screen and (width < 768px) {
      grid-template: repeat(3, 1fr) / 100%;
    }
    .sumo-stages-block__text-container__text-block {
      display: flex;
      flex-direction: row;

      .number-box__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        font-size: 1.3225rem;
      }
      &:nth-child(1) {
        @include sumo-stages-number-and-title-colors(var(--sumo-stages-block-first-column-accent-color))
      }

      &:nth-child(2) {
        @include sumo-stages-number-and-title-colors(var(--sumo-stages-block-second-column-accent-color))
      }

      &:nth-child(3) {
        @include sumo-stages-number-and-title-colors(var(--sumo-stages-block-third-column-accent-color))
      }
      .sumo-stages-block__text-container__text-block__text-box {
        .sumo-stages-block__text-container__text-block__text-box__subtitle-box {
          padding: 0.5rem 1.5rem;
        }
        .sumo-stages-block__text-container__text-block__text-box__main-text-box {
          padding: 0.5rem 1.5rem;
        }
      }
    }

  }
}