@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

.time-to-repair-block {
  display: grid;
  grid-template: 100% / 55% auto;
  @media screen and (max-width: 768px) {
    grid-template:  55% auto / 100%;
    gap: 2rem;
    margin-top: 2rem;
  }
  .time-to-repair-block__text-block {
    container-type: inline-size;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $bg-gray-100;
    gap: 0.725rem;

    .time-to-repair-block__text-block__title-box {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.5rem;
      width: 75%;
      font-size: clamp(1.55rem, 5vw, 2.25rem);
      font-family: "Tomorrow", sans-serif;
      font-weight: 500;
      color: #FFC300;
      @container (width <= 460px) {
        width: 95%;
      }
      #gear-icon {
        animation: gear-rotation 15s linear infinite;
      }
    }

    .time-to-repair-block__text-block__subtitle-box {
      width: 75%;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: clamp(1rem, 5vw, 1.75rem);
      gap: 0.5rem;
      color: lightskyblue;
      @container (width <= 460px) {
        width: 95%;
      }
      #arrow-down-icon {
        font-size: 2rem;
      }
    }
    .time-to-repair-block__text-block__text-box {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-left: 1px solid $bg-gray-400;
      color: lightgrey;
      li {
        padding: 0.5rem 1.25rem;
      }

    }
  }
  .time-to-repair-block__img-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .robot-repairing-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transition: 1s ease transform;
    }
    &:hover {
      .robot-repairing-image {
        transform: scale(1.1);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(rgba(0,0,0, 1), rgba(0, 0, 0, 0.3));
      z-index: 5;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(0deg, rgba(0,0,0, 1), rgba(0, 0, 0, 0.3));
      z-index: 5;
    }
  }
}

@keyframes gear-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}