@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

footer {
  height: fit-content;
  background: $footer-bg-color;
  //display: flex;
  //flex-direction: column;
  //gap: 1rem;
  //justify-content: center;
  //align-items: center;
  display: grid;
  grid-template: auto 10% / 100%;
  color: $bg-gray-200;
  padding: 2rem 3rem;
  gap: 4rem;
  @media screen and (max-width: 768px) {
    gap: 3rem;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      gap: 0.25rem;
    }
    .footer__location-container {
      height: 100%;
      display: flex;
      padding: 2rem 2rem 0 2rem;
      @media screen and (max-width: 768px) {
        padding: 2rem 2rem 0 2rem;
      }
      //justify-content: center;
      //align-items: center;
      flex-direction: column;
      gap: 0.5rem;

      .footer__location-block-title {
        gap: 1rem;
        .footer__location-block-icon {
          font-size: 1.745rem;
        }
      }

      .footer__location-block-main-text {
        display: flex;
        flex-direction: column;
      }
    }

    .footer__follow-container {
      height: 100%;
      padding: 2rem 2rem 0 2rem;
      //justify-content: center;
      //align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .footer__follow-block-title {

        .footer__location-block-icon {

        }
      }

      .footer__follow-block-icons-box {
        display: flex;
        flex-direction: row;
        gap: 1.75rem;

        a {
          .contact-icon {
            font-size: 2.225rem;
            background: $bg-gray-700;
            box-shadow: 2px 2px 2px $bg-gray-500;
            padding: 0.25rem;
            border-radius: 0.35rem;
            cursor: pointer;
            color: white;
            transition: all 0.25s ease;
          }

          .contact-icon:hover {
            background: $bg-gray-600;
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //.contact-icons-container {
  //  display: flex;
  //  flex-direction: row;
  //  gap: 2rem;
  //}
  //#location-text {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //  color: $bg-gray-300;
  //}
  //hr {
  //  width: 40%;
  //  border: 1px solid $bg-gray-800;
  //}
}

.footer-block-title {
  width: 100%;
  font-weight: 800;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.245rem;
}