@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

#carousel-block {
  height: fit-content;
  position: relative;
  display: grid;
  grid-template: 100% / 60% auto;
  @media screen and (max-width: 760px) {
    grid-template: 80% auto / 100%;
  }
  @media screen and (max-width: 480px) {
    grid-template: 50% auto / 100%;
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .images-wrapper {
      position: relative;
      width: 80%;
      height: 50%;
      @media screen and (max-width: 760px){
        width: 80%;
        height: 70%;
      }
      overflow: hidden;
      border-radius: 0.25rem;
      user-select: none;
      .images-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        transition: transform 1s ease;
        img {
          object-fit: cover;
          object-position: 70%;
          flex-grow: 0;
          flex-shrink: 0;
          width: 100%;
          height: 100%;
        }
      }
      .images-box:hover ~ .move-btn {
        opacity: 1
      }
      .move-btn {
        opacity: 0;
        display: flex;
        position: absolute;
        width: 7.5%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        top: 0;
        justify-content: center;
        align-items: center;
        transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease;
        @media screen and (max-width: 680px) {
          width: 12.5%;
        }
        &:hover {
          opacity: 1;
          cursor: pointer;
          background:  rgba(0, 0, 0, 0.65);
        }
      }
      .move-left-btn {
        left: 0;
      }
      .move-right-btn {
        right: 0;
      }
    }
    .circles-wrapper {
      display: flex;
      flex-direction: row;
      gap: $circles-gap;
      padding: 0.5rem 0;
      .circle {
        width: $circle-size;
        height: $circle-size;
        background: $circle-color;
        border-radius: 100%;
        transition: transform 0.5s ease, background 0.5s ease;
        cursor: pointer;
      }
      .circle__active {
        background: $circle-active-color;
        transform: scale($active-circle-scale);
      }
    }
  }
  .carousel-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .tags-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .tag-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        @media screen and (max-width: 760px){
          padding-left: 1.5rem;
        }
        .tag-icon-box {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          border-radius: 10%;
          background: $tag-icon-color;
          box-shadow: 0 0 15px 5px #FF5B37;

          .tag-icon {
            font-size: 2rem;
            color: white;
          }
        }
        .tag-text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          padding-right: 4rem;
          @media screen and (max-width: 680px) {
            padding-right: 1rem;
            font-size: 0.875rem;
          }
          font-weight: 300;
        }
      }
    }
  }
}