@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $header-padding-left;
  background: var(--header-bg-main-color);
  z-index: 150;
  width: 100%;
  height: $header-height;
  color: var(--header-text-color);
  transition: 1s ease background;
  padding-right: $header-padding-right;
  @media screen and (max-width: 680px) {
    padding: 0 2rem 0 1.5rem;
  }
  @media screen and (max-width: 480px) {
    padding: 0 1rem 0 1.25rem;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 64px;
      width: 64px;
    }
  }

  .tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $header-gap;
    @media screen and (max-width: 480px) {
      gap: 0.5rem;
    }
    #krop-robots-shop-link {
      position: relative;
      color: var(--header-text-color);
      overflow: hidden;
      transition: 1s ease color;
      @media screen and (max-width: 480px) {
        font-size: 0.75rem;
      }
      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 2px;
        background: var(--header-text-color);
        right: 100%;
        transition: 0.5s ease right;
      }
      &:hover::before {
        right: 0;
      }
    }

    #settings-icon {
      font-size: 2rem;
      cursor: pointer;
      transition: 1s ease color;
      &:hover {
        animation: gear-rotation 5s linear infinite;
      }
    }
  }

  .hamburger-menu {
    display: block;
    font-size: 1.75rem;
    transition: color 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $bg-gray-700;
    }
  }
}


@keyframes gear-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


//@media (max-width: 640px) {
//  .hamburger-menu {
//    display: block;
//  }
//  .links-wrapper {
//    position: absolute;
//    top: 100%;
//    z-index: 110;
//    left: 0;
//    width: 100%;
//    flex-direction: column;
//    transition: left 0.5s ease;
//    gap: 0;
//    justify-content: center;
//    align-items: center;
//    background: rgba(0, 0, 0, 0.5895);
//    .link-item {
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      width: 100%;
//      padding: 0.4325rem;
//      transition: background 0.35s ease;
//      cursor: pointer;
//      &:hover {
//        background: $bg-gray-800;
//      }
//      a {
//        color: $bg-neutral-200;
//        &::before {
//          display: none;
//        }
//      }
//      &:nth-child(1) {
//        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//      }
//    }
//  }
//  .links-wrapper__hide {
//    left: -100%;
//    z-index: -1;
//  }
//  .links-wrapper__show {
//    left: 0;
//  }
//}