@import './_colors.scss';
@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  ::-webkit-scrollbar {
    width: 6px;
  }
  @media screen and (max-width: 480px) {
    ::-webkit-scrollbar {
      width: 3px;
    }
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    transition: background 0.5s ease;
    background: $bg-gray-700;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-track-piece {
    background: $bg-gray-800;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $bg-gray-600;
  }

}

html {
  font-size: $gb-font-size;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: black;
  section {
    min-height: 100vh;
    width: 100vw;
  }
  // test style
  //#root {
  //  width: 100vw;
  //  //min-height: 100vh;
  //  display: grid;
  //  grid-auto-columns: 100%;
  //  grid-auto-rows: 100vh;
  //}
}
