@import './_colors.scss';
@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Inter, sans-serif;
  ::-webkit-scrollbar {
    width: 6px;
  }
  @media screen and (max-width: 480px) {
    ::-webkit-scrollbar {
      width: 1px;
    }
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    transition: background 0.5s ease;
    background: $bg-gray-700;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-track-piece {
    background: $bg-gray-800;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $bg-gray-600;
  }

}
input, textarea, select, button {
  font: inherit;
}




html {
  font-size: $gb-font-size;
  scroll-behavior: smooth;
  width: 100%;
  @media screen {
    
  }
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--body-bg-color);
  transition: 1s ease background;
  section {
    min-height: 100vh;
    width: 100%;
  }
}

*::before,
*::after {
  box-sizing: border-box;
  position: absolute;
  content: '';
}