@import './_colors.scss';
$logo-size: 64px;
$gb-font-size: 16px;
$bg-color: rgb(0,0,0);

/* [thumber variables] */

/* [header variables] */
$header-height: 64px;
$header-bg-color: red;
$header-link-color: rgb(0,0,0);