@import './_colors.scss';
$logo-size: 64px;
$gb-font-size: 16px;

/* [body variables] */

$body-bg-color: rgb(0, 0, 0);;

/* [thumber variables] */



/* [header variables] */
$header-height: 64px;
$header-bg-color: #FF7A2F;
$header-link-color: rgb(0,0,0);
$header-gap: 1rem;

/* [right-menu variables] */
$right-menu-width: 25%;
$right-menu-color: #f1f1f1;
/* [carousel variables] */
$circle-size: 12.5px;
$active-circle-scale: 1.2;
$circles-gap: 0.5rem;
$circle-color: $bg-gray-600;
$circle-active-color: $bg-gray-500;
$tag-icon-color: #FF5B37;

/* [footer variables] */
$footer-bg-color: rgb(25,15,19);

/* [robot-sumo-full-block variables] */

$progress-bar-bg-color: #996600;
$progress-bar-height: 6px;
$progress-bar-upper-color: #00ff00;