@import "../style/_colors.scss";
@import "../style/_variables.scss";

#main-content-wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-auto-rows: 100vh;
  grid-auto-columns: 100vw;
  overflow-x: hidden;
  background: $bg-color;
}