#error-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img[src="not-found-image.png"] {
    width: 50vh;
    height: 50vh;
  }
  .error-text-block {
    font-size: 1.775rem;
    color: darkred;
    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
  }
  #error-link-block {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 1.1225rem;
    padding: 0.75rem 2.15rem;
    background: rgb(255, 123, 47);
    border-radius: 0.5rem;
    color: #f1f1f1;
    box-shadow: 0 0 5px 5px rgba(255, 123, 47, 0.67675);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 20px 5px rgba(255, 123, 47, 0.67675);
    }
  }
}