@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

footer {
  height: fit-content;
  background: var(--footer-bg-color);
  display: grid;
  grid-template: auto 10% / 100%;
  color: $bg-gray-200;
  padding: 2rem 3rem;
  gap: 4rem;
  @media screen and (max-width: 768px) {
    gap: 3rem;
    padding: 1rem;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      gap: 0.25rem;
    }
    .footer__location-container {
      height: 100%;
      display: flex;
      padding: 2rem 2rem 0 2rem;
      @media screen and (max-width: 768px) {
        padding: 2rem 2rem 0 2rem;
      }
      flex-direction: column;
      gap: 0.5rem;

      .footer__location-block-title {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        @media screen and (width < 480px){
          gap: 0.5rem;
        }
        .footer__location-block-icon {
          font-size: 1.745rem;
        }
      }

      .footer__location-block-main-text {
        display: flex;
        flex-direction: column;
      }
    }

    .footer__follow-container {
      height: 100%;
      padding: 2rem 2rem 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .footer__follow-block-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        .footer__location-block-icon {

        }
      }

      .footer__follow-block-icons-box {
        display: flex;
        flex-direction: row;
        gap: 1.75rem;

        a {
          .contact-icon {
            font-size: 2.225rem;
            padding: 0.25rem;
            border-radius: 0.35rem;
            cursor: pointer;
            color: white;
            transition: all 0.25s ease;
          }
        }
        #instagram-icon {
          background: linear-gradient(45deg, $bg-orange-300, $bg-red-600, $bg-blue-700);
        }
        #telegram-icon {
          background: $bg-blue-500;
        }
        #facebook-icon {
          background: $bg-blue-700;
        }
        #youtube-icon {
          background: white;
          color: $bg-red-600;
        }
        #tiktok-icon {
          background: $bg-gray-600;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-block-title {
  width: 100%;
  font-weight: 800;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.245rem;
}