@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

#robot-sumo-full-info-block {
  color: snow;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: $bg-neutral-900;
  .robot-sumo-full-info-block__text-block {
    position: relative;
    width: 80%;
    margin-top: calc($header-height + $progress-bar-height);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #reading-progress-bar {
      position: fixed;
      top: 64px;
      left: 0;
      width: 100%;
      height: $progress-bar-height;
      background: $progress-bar-bg-color;
      #current-progress-bar {
        width: 0;
        height: 100%;
        background: $progress-bar-upper-color;
      }
    }
  }
  .anchor-wrapper {
    position: fixed;
    height: calc(100vh - $header-height - $progress-bar-height);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    padding: 1rem;
    gap: 0.325rem;
    width: 20%;
    a {
      color: white;
    }
    border-left: 2px solid $bg-gray-600;
  }
}