@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';
@import '../../../style/_mixins.scss';


.sanctions-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  img[alt="ban-hammer"] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    //@include top__and__bottom__darkening($sanctions-block-image-darkening);

  }
  .ban-hammer-img__darkening-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8) ,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 1));
    z-index: 5;
  }

  .sanctions-block__content-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    width: 65%;
    .sanctions-block__content-wrapper__title-box {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 0.5rem;
      font-weight: 400;
      font-size: 2.225rem;
      color: var(--sanctions-block-main-title-color);
    }
    .sanctions-block__content-wrapper__text-blocks-wrapper {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
      gap: 2rem;
      @media screen and (max-width: 768px) {
        grid-template: repeat(4, 1fr) / 100%;
      }
      .text-blocks-wrapper__text-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.325rem;
        border-radius: 0.75rem;
        padding: 1.5rem 1rem;
        .text-blocks-wrapper__text-block__subtitle-box {
          font-size: 1.5rem;
        }
        span {
          color: var(--sanctions-block-simple-text-color);
        }
      }
      .text-block-i-1 {
        @include shadow-text-block(var(--sanctions-block-first-card-accent-color))
      }
      .text-block-i-2 {
        @include shadow-text-block(var(--sanctions-block-second-card-accent-color))
      }
      .text-block-i-3 {
        @include shadow-text-block(var(--sanctions-block-third-card-accent-color))
      }
      .text-block-i-4 {
        @include shadow-text-block(var(--sanctions-block-fourth-card-accent-color))
      }
    }
  }
}

html[data-theme="light"] {
  .text-blocks-wrapper__text-block {
    box-shadow: 0 4px 25px 1px rgba(0,0,0,0.25) !important;
  }
}


