@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';
@import '../../../style/_mixins.scss';

@mixin shadow-text-block($main-color) {
  .text-blocks-wrapper__text-block__subtitle-box {
    color: $main-color;
  }
  border: $main-color 2px solid;
  box-shadow: 0 0 15px 2px $main-color;
}

.sanctions-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img[alt="ban-hammer"] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  @include top__and__bottom__darkening($sanctions-block-image-darkening);

  .sanctions-block__content-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    width: 65%;
    .sanctions-block__content-wrapper__title-box {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 0.5rem;
      font-weight: 400;
      font-size: 2.225rem;
      color: #99AA99;
    }
    .sanctions-block__content-wrapper__text-blocks-wrapper {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
      gap: 2rem;
      @media screen and (max-width: 768px) {
        grid-template: repeat(4, 1fr) / 100%;
      }
      .text-blocks-wrapper__text-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.325rem;
        border-radius: 0.75rem;
        padding: 1.5rem 1rem;
        .text-blocks-wrapper__text-block__subtitle-box {
          font-size: 1.5rem;
        }
        span {

        }
      }
      .text-block-i-1 {
        @include shadow-text-block(#F2B42D)
      }
      .text-block-i-2 {
        @include shadow-text-block(#D7455E)
      }
      .text-block-i-3 {
        @include shadow-text-block(#DD785E)
      }
      .text-block-i-4 {
        @include shadow-text-block(#48A8E2)
      }
    }
  }
}