@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

.scroll-to-top-button {
  opacity: 0;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  background: $bg-gray-600;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  #scroll-to-icon {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 480px){
    bottom: 3.5%;
    right: 7.5%;
  }
  transition: opacity 1s ease;
  box-shadow: 0 0 15px 5px $bg-gray-600;
}
.scroll-to-top-button__visible {
  opacity: 1;
}