@import '../../style/_colors.scss';
@import '../../style/_variables.scss';

#introduction-block {
  display: grid;
  grid-template: $header-height auto / 100%;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 1.5rem;
    background: #FF7A2F;
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 64px;
        width: 64px;
      }
      img {

      }
    }
    .links-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .link-item {
        overflow: hidden;
        a {
          position: relative;
          color: $header-link-color;
          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1.5px;
            background: #000;
            bottom: 0;
            right: 100%;
            transition: right 0.25s ease;
          }
          &:hover::before {
            right: 0;
          }
        }
        &:nth-child(2) {
          a {
            font-weight: 600;
          }
        }
      }
    }
  }
  .image-slogan-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    h1, h3 {
      color: whitesmoke;
      z-index: 105;
      display: flex;
      text-align: center;
    }
    h1 {
      font-family: Tomorrow, sans-serif;
      font-weight: 600;
      font-size: clamp(2rem, 9.5vh, 4rem);
    }
    h3 {
      font-weight: 500;
      font-size: clamp(1rem, 5vh, 2rem);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.99),  rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.75));
      z-index: 100;
    }
  }
}