@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

.sumo-introduction-block {
  display: grid;
  grid-template: 100% / 50% auto;
  @media screen and (max-width: 680px) {
    grid-template:  50% auto / 100%;
    margin: 6rem 0;
  }

  .sumo-introduction-block-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    gap: 1.275rem;
    color: var(--global-simple-text-color);
    @media screen and (max-width: 680px) {
      padding: 0 3rem;
    }
    .sumo-introduction-title-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sumo-introduction-title {
       text-align: center;
      }
      .s-i-title1 {
        font-size: 3rem;
      }
      .s-i-title2 {
        font-size: 2.25rem;
      }
      @media screen and (max-width: 680px) {
        .s-i-title1 {
          font-size: 2.535rem;
        }
        .s-i-title2 {
          font-size: 1.75rem;
        }
      }
    }
    .sumo-introduction-main-text {
      text-align: center;
      font-weight: 400;
      font-size: 1.1275rem;
    }
  }

  .sumo-introduction-block-img-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    @media screen and (max-width: 680px) {
      justify-content: center;
    }
    & > div {
      width: 80%;
      height: 80%;
    }
    .sumo-introduction-block-img-box {
      position: relative;
      width: 95%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        transition: transform 1s ease;
        filter: opacity(0.7675);
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .sumo-introduction-img-shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.3375);
      z-index: 15;
    }
  }
}