@import '../../../style/_colors.scss';
@import '../../../style/_variables.scss';

.right-menu {
  display: flex;
  padding: 1rem 0 1rem 2rem;
  position: fixed;
  top: $header-height;
  right: 0;
  width: $right-menu-width;
  transition: transform 1s ease;
  transform: translate(100%);
  z-index: 10000;
  height: calc(100vh - $header-height);
  background: $bg-gray-900;
  color: $right-menu-color;
  &[data-active-menu="true"] {
    transform: translate(0%);
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}